page-servicoveiculo {
    .mover{
        margin-top: -3px;
    }
    .tamanho{
        font-size: 10px;
        margin-top: -8px;
    }
    .dataTexto{
        font-size: 10px;
        margin-top: -8px;
        color: #aaa;
    }
    ion-card {
        border-left:solid 4px #099c2b;
        height: 13%;
    }

}
