page-servicocalculadoraflex {
    .tamanhoPorcent{
        font-size: 10px;
    }

    .bckResultado{
    background-color: #f9980d;
    width: 90%;
    border: 20px solid #f9980d;
    color: #ffffff;
    //font-size: 20px;
    padding: 1%;
    margin: 5%;
    }

    .decer{
        margin-top: 10%;
    }
}
