page-servico {
    .no-scroll .scroll-content { 
        overflow: hidden; 
    }
    .espacoEntreGrid{
        margin-top: 8%;
    }
    .fomatoBotao{
        height: 80px;
        width: 130px;
        border-radius: 20px;
       
    }
}
